<div id="cuerpo">
	<h2>Beneficios Para Nuestros Asociados</h2>

	<h4>Los asociados de ASEMPIO gozarán de los siguientes beneficios:</h4>
	<ul class="enf">
		<li>Capacitaciones para emprendedores, empresarios, mini PyMEs y PyMEs.</li>
		<li>Rondas de contactos y negocios. Networking.</li>
		<li>Conferencias. Disertaciones.</li>
		<li>Experiencias de empresarios exitosos.</li>
		<li>Lanzamiento de sus productos.</li>
		<li>Promoción y difusión de productos y servicios.</li>
	</ul>
	<br/>
	<h2>Además tendrán acceso a los servicios que ofrecemos según las áreas informadas a continuación:</h2>

	<h3>Comision Directiva</h3>
	<h4>Presidencia</h4>
	<b>Prof. Liliana Castro, Carlina Dorado, Samira Hatoum, Lic. Maximiliano Salamone</b>
	<ul>
		<li>Atención proactiva de consultas de asociados/as sobre temas empresariales.</li>
		<li>Viabilización de gestión, presentación y recepción de asistencia técnica en proyectos, ya sea a través de ASEMPIO, o de
			Instituciones con las cuales se realicen actividades conveniadas. </li>
		<li>Gestiones para el logro de normativas relacionadas con el objeto de la Asociación y acercamientos institucionales a nivel
			local, provincial, regional, nacional e internacional, en cumplimiento del derecho a peticionar a las autoridades. Promover
			y difundir acciones para inferir en las políticas públicas.</li>
		<li>Formalización de filiales en todo el país, a fin de dar cumplimiento al objeto de la asociación y crear una red nacional
			para beneficio de nuestros asociados/a</li>
		<li>Realización de desayunos, business breaks y almuerzos de trabajo, para potenciar encuentros de contactos y de negocios
			entre asociadas/os.</li>
		<li>Realización y organización de eventos, muestras, exposiciones, foros, congresos, rondas de negocios, misiones comerciales.</li>
		<li>Difusión de actividades, opiniones, posiciones y observatorios a través de diferentes medios.</li>
		<li>Actividades relacionadas con la RSE y la concreción de la igualdad de oportunidades en todos los ámbitos y áreas posibles.</li>
		<li>Cena anual solidaria organizada para celebración del "Premio Empresaria/o del Año".</li>
	</ul>

	<h4>Secretaria, Prosecretaria</h4>
	<b>Lic. Beatriz Pérez Lapetina, Lic. Soledad Mayansky</b>
	<ul>
		<li>Asesoramientos, tramitaciones, afiliaciones, renovación de carnets, actualización de datos personales y comerciales.</li>
		<li>Recepción y difusión a través de correo electrónico u ordinario, de circulares informativas sobre las principales novedades
			que afectan a la gestión empresarial.</li>
	</ul>

	<h4>Tesoreria, Protesoreria</h4>
	<b>C.P.N. Luciana Colombatti, Mariana Perez Vagoni</b>
	<ul>
		<li>Organización y ordenamiento de los recursos propios y contribuciones, donaciones y otros.</li>
	</ul>

	<h3>Asesorías</h3>
	<h4>Dpto. Asesoria Legal:</h4>
	<b>Dra. Elida Torres Carbonell, Escribana Maria Rosa Garcia Grizutti</b>
	<ul>
		<li>Derecho laboral, nuevos emprendimientos, reclamos, ejecuciones.</li>
	</ul>

	<h4>Dto. Asesoria Contable</h4>
	<b>Cont. Luciana Colombatti</b>
	<ul>
		<li>Costos, tramitaciones para crear pymes, o ampliarlas, sociedades de distintos tipos, impuestos, patentes.</li>
	</ul>

	<h3>Direcciones</h3>
	<h4>Direccion Gestion Educativa</h4>
	<b>Prof. Liliana Castro</b>
	<ul>
		<li>Tecnicaturas profesionales.</li>
		<li>Convenios con universidades, nacionales y extranjeras, intercambio de profesores y alumnos con instituciones afines del
			país y del exterior.</li>
		<li>Convenios de reciprocidad sobre temas que hacen a la función específica de la Asociación.</li>
		<li>Convenios con áreas gubernamentales, instituciones públicas o privadas.</li>
	</ul>

	<h4>Direccion De Capacitacion</h4>
	<b>Cont. Luciana Colombatti, Lic. Maximiliano Salamone, <br/> Asociación de Profesionales, Prof. Liliana Castro, Lic. Soledad Mayansky</b>
	<ul>
		<li>Cursos, talleres, conferencias, seminarios, jornadas, capacitaciones, en el ámbito nacional e internacional, diferentes
			niveles (emprendedurismo, empresariado).</li>
	</ul>

	<h4>Dpto. De Oficios</h4>
	<b>Lic. Beatriz Pérez Lapetina, Mariana Perez Vagoni</b>
	<ul>
		<li>Talleres de oficios: Agente de Turismo, Emprendedurismo Textil, Gastronomía Integral.</li>
	</ul>

	<h4>Direccion De Genero Y Desarrollo De Oportunidades</h4>
	<b>Prof. Liliana Castro</b>
	<ul>
		<li>Pueblos originarios.</li>
		<li>La participación política y el liderazgo.</li>
		<li>Proyectos orientados a erradicar la pobreza, proteger los derechos de las minorías.</li>
		<li>Responsabilidad social empresaria.</li>
		<li>La defensa de la flora y la fauna.</li>
		<li>Promover y difundir el asociativismo y fomentar cadenas de valores.</li>
		<li>Proyectos que garanticen la proteccion de los derechos civiles, sociales y culturales.</li>
	</ul>

	<h4>Dpto. De Salud</h4>
	<ul>
		<li>Prevención, atención de la salud, difusión, campañas, salud y deportes, calidad de vida, importancia de la vida al aire
			libre.</li>
	</ul>

	<h4>Direccion De Relaciones Publicas</h4>
	<b>Prof. Liliana castro, Mariana Perez Vagoni</b>
	<ul>
		<li>Mantener contacto con delegaciones en cualquier lugar del país, para su desarrollo local.</li>
		<li>Difusión de los cursos de formación y capacitaciones, coloquios, seminarios, foros, congresos, jornadas y convenciones,
			ya sean brindados por ASEMPIO, o las instituciones con las cuales se firmen convenios.</li>
		<li>Mantener contacto con instituciones, entidades públicas y/o privadas del ámbito nacional e internacional.</li>
	</ul>

	<h4>Direccion De Comunicacion Y Medios</h4>
	<b>Prof Liliana Castro, Lic. Beatriz Pérez Lapetina, Julieta Viola, Sofía Cruz</b>
	<ul>
		<li>Marketing, publicidad, redes sociales, pág. Web, comercialización.</li>
		<li>Divulgar, comunicar, difundir, publicar, emitir newsletters.</li>
		<li>Promover el acceso a la tecnologia de las comunicaciones y a la creacion de redes.</li>
		<li>Informar sobre congresos nacionales e internacionales, para promocionar la asistencia a los mismos.</li>
		<li>Tablón de anuncios, publicitando ofertas y demandas de productos y servicios.</li>
	</ul>

	<h4>Direccion De Industria</h4>
	<b>Liliana Castro, Carlina Dorado, Dora Jauregui.</b>
	<ul>
		<li>Métodos de producción sustentable y modelos de industrialización sustentable. Parques industriales.</li>
		<li>Desforestación, minería, contaminación, agricultura industrial, proveedores, clusters, exportación.</li>
	</ul>

	<h4>Dpto. De Comercio Interior Y Exterior</h4>
	<b>Lic. Maximiliano Salamone, Lic. Soledad Mayasky</b>
	<ul>
		<li>Difundir las acciones tendientes a la protección comercial, gestión empresarial, inversiones.</li>
		<li>Cadenas de comercialización, nacionales e internacionales.</li>
		<li>Negociación, rondas de negocios.</li>
		<li>Misiones comerciales.</li>
		<li>Contactos con Cámaras de Comercio , agregadurías , Cancillería, Mercosur, Asia, Europa, otros.</li>
		<li>Industria del Turismo, Promover, organizar redes, generar corredores turísticos no tradicionales, definir puntos históricos
			y cascos históricos.</li>
	</ul>

	<h4>Dpto. Microempresarios/AS</h4>
	<b>Graciela Chiesanova</b>
	<ul>
		<li>Promover proyectos y programas tendientes a impulsar, fortalecer, potenciar el proceso de creación, puesta en marcha y/o
			funcionamiento de emprendimientos productivos e innovadores que promuevan el emprendedurismo como acciones de generación
			de empleos.</li>
	</ul>

	<h4>Dpto. De Industrias Culturales</h4>
	<b>Prof. Liliana Castro. Lic. Soledad Mayansky</b>
	<ul>
		<li>Asesoramiento para conformación de productoras y cooperativas culturales.</li>
		<li>Promover, difundir, organizar exposiciones y foros.</li>
		<li>Café literarios, lanzamiento de nuevas publicaciones.</li>
		<li>Generar muestras artísticas, promover nuevos talentos de la plástica.</li>
		<li>Generar y promover conciertos, y nuevos talentos de la música.</li>
		<li>Promover artistas en general como parte de industrias generadoras de PBI.</li>
	</ul>

	<h4>Dpto. Industrias Creativas</h4>
	<b>Prof. Liliana Castro</b>
	<ul>
		<li>Promover, difundir y plantear canales de comercialización para el diseño argentino a nivel nacional e internacional, compre
			local, regional, nacional.</li>
		<li>Promover la calidad, el buen diseño y las certificaciones de optimización.</li>
	</ul>

	<h4>Dpto. Cultura</h4>
	<b>Lic. Beatriz Pérez Lapetina, Lic. Soledad Mayansky</b>
	<ul>
		<li>Espectáculos con descuentos, teatro, exposiciones, bibliotecas populares, videotecas, hemerotecas, acciones para la conservación
			del patrimonio cultural.</li>
	</ul>

	<h4>Direccion De La Industria De La Moda</h4>
	<b>Samira Hatoum, Mariana Vagoni</b>
	<ul>
		<li>Difundir y desarrollar acciones relacionadas con la industria de la moda.</li>
		<li>Fomentar la industria textil, y afines como marroquinería, herrajes, joyería, bijouterie, anteojos, sombreros, corsetería
			y lencería, etc.</li>
		<li>Microemprendimientos, emprendedurismo.</li>
		<li>Convenios con entidades afines, subsidios, rondas de negocios, desfiles, eventos.</li>
	</ul>

	<h4>Dto. De Comercio De La Moda</h4>
	<b>Samira Hatoum</b>
	<ul>
		<li>Fomentar y difundir canales de comercialización específicos de la industria textil y accesorios en general.</li>
	</ul>

	<h4>Direccion Medio Ambiente Y Desarrollo Sustentable</h4>
	<b>Prof. Liliana Castro</b>
	<ul>
		<li>Enfocada en el desarrollo de energías alternativas.</li>
		<li>Desarrollo de emprendimientos sustentable.</li>
		<li>Asesoramiento y desarrollo de proyectos en áreas de reconversión.</li>
	</ul>

	<h4>Departamento Desarrollo Societario</h4>
	<b>Julieta Viola</b>
	<ul>
		<li>Desarrollo membresía, captación nuevos socios, captación de intereses y necesidades.</li>
	</ul>
</div>