<div id="cuerpo">
    <div class="col_10">
        <h2>Ultimas Actividades</h2>
        <div class="noticia">
            <h2>Potenciando PyMEs</h2>
            <div>
                <span>{{Date.now() | date: 'd MMM yy'}}</span>

                    <p>
                        <img src="./assets/img/flyers/actual.png" />
                    </p>
                    <p>
                        Hola! Renovamos el sitio, volvimos con todo.

                        <div *ngFor="let item of novedades">{{item | json}}</div>
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                    </p>
            </div>
            <hr/>
        </div>
        <div class="noticia">
            <h2>Potenciando PyMEs</h2>
            <div>
                <span>{{Date.now() | date: 'd MMM yy'}}</span>

                    <p>
                        <img src="./assets/img/flyers/actual.png" />
                    </p>
                    <p>
                        Hola! Renovamos el sitio, volvimos con todo.


                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                        <br>
                        Mas cosas...
                    </p>
            </div>
            <hr/>
        </div>
    </div>