<div id="cuerpo">

	<div class="col_8 left p_hor clearfix">

		<img src="./assets/img/capacitaciones/image001.jpg" />

		<h2>Capacitaciones</h2>
		<p>La capacitación es clave para la sobrevivencia y desarrollo de las empresas, porque cada vez más se requiere másaptitudes
			y capacidades para enfrentar con éxito el desarrollo de las actividades de un emprendimiento</p>
		<p>Se puede definir a la capacitación como un conjunto de actividades didácticas orientadas a cumplimentar las necesidades
			de la empresa y que se orientan hacia una ampliación de los conocimientos, habilidades y aptitudes que permitirá desarrollar
			las acciones necesarias de manera eficiente.</p>

		<img class="p_ver" src="./assets/img/capacitaciones/image003.jpg" />

		<h2>En pocas palabras...</h2>
			<p>capacitar implica proporcionarle al empresario las habilidades y conocimientos que lo hagan más apto y diestro en la ejecución
				de su trabajo. Esos conocimientos pueden ser de varios tipos y pueden enfocarse a diversos fines, ya sea individuales
				y/u organizacionales.</p>

			<img class="p_ver" src="./assets/img/capacitaciones/image004.jpg" />

			<h3>Más capacitaciones realizadas</h3>

			<div class="col_entry m_ver">
				<p><i>“Cómo se construye una empresa, a partir de una idea”</i></p>
				<p class="padding tx_izq"><b>MÓNICA GRIECO</b> Propietaria Nexo Radial, y de FM 104.1 Pilar</p>
				<img src="./assets/img/capacitaciones/image030.jpg" />
				<div class="subtitulo">Sus comienzos dificultosos, y presente exitoso, fruto de su voluntad y perseverancia</div>
				<img src="./assets/img/capacitaciones/image032.jpg" />
				<div class="secundario tx_cen">Bolsa de Comercio de Bs As</div>
				<div class="secundario tx_cen">3 Septiembre 2014</div>
				<hr class="separador" />
			</div>
			<div class="col_entry m_ver">
				<p><i>“Misiones Comerciales”</i></p>
				<p class="padding tx_izq"><b>Lic. MAXIMILIANO SALAMONE</b> Lic. En Relaciones Internacionales, Capacitador CAME, Vicepresidente Asociación Profesionales
					CABA
				</p>
				<img src="./assets/img/capacitaciones/image034.jpg" />
				<div class="subtitulo">Normativas, protocolos, formalidades, requerimientos, presentación. Cómo participar en una Misión Comercial</div>
				<img src="./assets/img/capacitaciones/image036.jpg" />
				<div class="secundario tx_cen">Bolsa de Comercio de Bs As</div>
				<div class="secundario tx_cen">10 Octubre 2014</div>
			</div>

			<div class="clearFix"></div>

	</div>
	<div class="col_4 pad gris">
		<div class="col_entry m_ver">
			<img src="./assets/img/capacitaciones/image008.jpg" />
			<img src="./assets/img/capacitaciones/image006.jpg" />
			<div class="subtitulo">Hotel Panamericano, Salón Berni</div>
			<div class="subtitulo">30 Agosto 2013</div>
			<p class="tx_izq"><b>Lic. LAURA GAIDULEWICZ</b> Lic. en Educación, Directora Académica de la Fundación por el Liderazgo y Organizaciones
				Responsables - <b>FLOR</b></p>
			<p><i>“Principales problemáticas para la gestión de una Pyme, desafíos para crecer"</i></p>
			<hr class="separador" />
		</div>
		<div class="col_entry m_ver">
			<img src="./assets/img/capacitaciones/image010.jpg" />
			<div class="subtitulo">Equipos de Trabajo</div>
			<img src="./assets/img/capacitaciones/image012.jpg" />
			<div class="subtitulo">Hotel Panamericano, Salón Berni</div>
			<div class="subtitulo">25 Setiembre 2013</div>
			<p class="tx_izq"><b>CARLOS IUORIO</b> Socio Empresa VANCARCAPACITACIONES, EVENTOS</p>

			<p><i>“Técnicas de venta, marketing, y comercialización, equipos de trabajo”</i></p>

			<p>Con <b>Vanesa Boutet</b> (socia VANCAR)</p>
			<hr class="separador" />
		</div>
		<div class="col_entry m_ver">
			<img src="./assets/img/capacitaciones/image014.jpg" />
			<div class="subtitulo">Como negociar en una Ronda de Negocio</div>
			<img src="./assets/img/capacitaciones/image016.jpg" />
			<div class="subtitulo">Hotel Panamericano</div>
			<div class="subtitulo">30 Octubre 2013</div>
			<p class="tx_izq"><b>Lic. MAXIMILIANO SALAMONE</b> Lic. En Relaciones Internacionales, Capacitador CAME Vicepresidente Asociación Profesionales
				CABA
			</p>

			<p><i>“La Negociación en el ámbito comercial”</i></p>
			<hr class="separador" />
		</div>
		<div class="col_entry m_ver">
			<img src="./assets/img/capacitaciones/image018.jpg" />
			<div class="subtitulo">Saber delegar: parte importante del gerenciamiento de una empresa</div>
			<img src="./assets/img/capacitaciones/image020.jpg" />
			<div class="subtitulo">Hotel Panamericano, Salón San Martín</div>
			<div class="subtitulo">11 Diciembre 2013</div>
			<p class="tx_izq"><b>Lic. JUAN CARLOS VALDA</b> Director de Grandes Pymes – Consultor - Conferencista y Formador</p>
			<p><i>“Aprender a delegar para un buen gerenciamiento en nuestras empresas”</i></p>
			<hr class="separador" />
		</div>
		<div class="col_entry m_ver">
			<img src="./assets/img/capacitaciones/image022.jpg" />
			<div class="subtitulo">Cómo administrar nuestras finanzas personales</div>
			<img src="./assets/img/capacitaciones/image024.jpg" />
			<div class="secundario tx_cen">Hotel Bauen, Salón Berni</div>
			<div class="secundario tx_cen">11 Abril 2014</div>
			<p class="tx_izq"><b>JULIETA VIOLA</b> Asesora Financiera</p>
			<p><i>“Finanzas Personales”</i></p>
			<hr class="separador" />
		</div>
		<div class="col_entry m_ver">
			<img src="./assets/img/capacitaciones/image026.jpg" />
			<div class="subtitulo">Todo lo que hay que saber sobre Ingresos Brutos</div>
			<img src="./assets/img/capacitaciones/image028.jpg" />
			<div class="secundario tx_cen">Bolsa de Comercio de Bs As</div>
			<div class="secundario tx_cen">2 Julio 2014</div>
			<p class="tx_izq"><b>Dra. LUCIANA COLOMBATTI</b> Contadora Pública Nacional,Socia Reactivo, Coach</p>
			<p><i>“Normativas para nuevos emprendimientos”</i></p>
			<hr class="separador" />
		</div>
	</div>
</div>