<div id="footer">
	<div id="copyright">©2017 ASEMPIO - Todos los derechos reservados.</div>
	<br/>
	<div class="centro">
		<a href="http://www.facebook.com/empresariaspymes.asempio">Facebook</a> - 
		<a href="http://www.twitter.com/ASEMPIOPYMES">Twitter</a> -
		<a href="mailto:asempio@hotmail.com">asempio@hotmail.com</a> - <a href="mailto:info@asempio.com.ar">info@asempio.com.ar</a>
	</div>
	<br/>
	<div>
		<span>
			Dirección - Tacuarí 624, CABA 
		</span>
		<span>
			Telefono - +54 011 15-6020-5873
		</span>
	</div>
	<div id="firma">Desarrollado por Brian Salamone - 2014</div>
</div>