<div id="cuerpo">
	<div class="col_8">
		<h2>Comisión directiva 2014</h2>
		<div id="comision_directiva" class="m_ver"></div>
		<table class="lista">
			<tr>
				<td>Presidente</td>
				<td>Liliana Castro</td>
			</tr>
			<tr>
				<td>Vicepresidente 1ra</td>
				<td>Carlina Dorado</td>
			</tr>
			<tr>
				<td>Vicepresidente 2da</td>
				<td>Samira Hatoum</td>
			</tr>
			<tr>
				<td>Vicepresidente 3ro</td>
				<td>Maximiliano Salamone</td>
			</tr>
			<tr>
				<td>Secretaria</td>
				<td>Beatriz Perez Lapetina</td>
			</tr>
			<tr>
				<td>Prosecretaria</td>
				<td>Soledad Mayansky</td>
			</tr>
			<tr>
				<td>Tesorera</td>
				<td>Luciana Colombatti</td>
			</tr>
			<tr>
				<td>Protesorera</td>
				<td>Mariana Vagoni</td>
			</tr>
			<tr>
				<td>Vocal Titular 1ra</td>
				<td>Graciela Chiesanova</td>
			</tr>
			<td>Vocal Titular 2da</td>
			<td>Julieta Viola</td>
			<tr>
			</tr>
			<td>Vocal Suplente 1ra</td>
			<td>Dora Jauregui</td>
			<tr>
			</tr>
			<td>Vocal Suplente 2da</td>
			<td>Sofia Cruz</td>
			<tr>
				<td>Comision Revisora De Cuentas Titular</td>
				<td>Maria Rosa Garcia Grizzuti</td>
			</tr>
			<tr>
				<td>Comision Revisora De Cuentas Suplente</td>
				<td>Elida Torres Carbonell</td>
			</tr>
		</table>
	</div>
</div>