<div id="cuerpo">
	<h2>Beneficios Para Empresas e Instituciones</h2>

	<h3>Capacitaciones - Nivel 1: Primer Emprendimiento</h3>
	<h4>Estructura de las capacitaciones</h4>

	<ul>
		<li>Permisos, habilitaciones, registros para funcionamiento (un modulo)</li>
		<li>Estudio de mercado, publico objetivo, gama alta media y baja, cadena de valor, competidores, actuales, futuros, proveedores
			(dos modulos)</li>
		<li>Estructura de costos (uno o dos según necesidades del publico objetivo)</li>
		<li>Organización impositiva, facturación (un modulo)</li>
		<li>Estructura de inversión, finanzas personales vs empresariales, financiamiento, creditos, subsidios (dos modulos)</li>
		<li>Canales de comercialización, pag web, redes sociales, marketing, tecnicas de venta, promocion, marcas y patentes, etiquetas,
			packaging (tres modulos)</li>
		<li>Gestion empresaria, agenda, administracion del tiempo, asociatividad y liderazgo, trabajo en equipo (dos modulos)</li>
		<li>Empresas familiares, area legal, couching, psicologia empresarial (dos modulos)</li>
		<li>Tutoría, asesoramiento y asistencia presencial (8 modulos)</li>
	</ul>
	<b>Modalidad: 80% teoria, 20% taller, en uno, dos o tres modulos de 4 horas reloj cada uno, 45 minutos hora cátedra, más break.</b>

	<h4>Presupuestos a acordar por</h4>
	<ul>
		<li><b>Seminario completo:</b> 22 Modulos, 88 hs reloj - 88 hs cátedra. Cada mádulo de 4 hs cátedra, para 80 personas máximo,
			que incluye material, un capacitador y un coordinador</li>
		<li><b>Seminario por modulos individuales:</b> Cada modulo consta de 4 hs cátedra</li>
	</ul>


	<h3>Capacitaciones - Nivel 2: Expansion, Sustentabilidad Y Afianzamiento De La Empresa</h3>
	<h4>Estructura de las capacitaciones</h4>

	<ul>
		<li>Estudio de mercado, publico objetivo, gama alta media y baja, cadena de valor, competidores actuales y futuros, proveedores
			(dos modulos)</li>
		<li>Kaizen, mejora continua, análisis evolutivo de la empresa y su entorno (dos modulos)</li>
		<li>Estructura de costos para la expansión (un modulo), comercio exterior, e interior, exportación (un modulo)</li>
		<li>Estructura de inversión, financiamiento, creditos, subsidios (dos modulos)</li>
		<li>Negociación, rondas de negocios, misiones comerciales (dos modulos) ), protocolo y cultura de negocios internacional (un
			modulo)
		</li>
		<li>Canales de comercialización, pag web, redes sociales (un modulo), marketing, tecnicas de venta, gestion y direccion de
			equipos, promocion (un modulo), marcas y patentes, etiquetas, packaging (un modulo)</li>
		<li>Gestion empresarial, agenda, administracion del tiempo, control de gestión, asociatividad y trabajo en equipo, liderazgo
			(dos modulos)</li>
		<li>Empresas familiares, area legal, couching, psicologia empresarial, distribución de roles y tareas, cadena de mando, estructura
			jerárquica (dos modulos)</li>
		<li>Tutoría, asesoramiento y asistencia presencial (4 modulos)</li>
	</ul>
	<b>Modalidad: 80% teoria, 20% taller, en uno, dos o tres modulos de 4 horas reloj cada uno, 45 minutos hora cátedra, más break.</b>

	<h4>Presupuestos a acordar por</h4>
	<ul>
		<li><b>Seminario completo:</b> 22 modulos, 88 hs reloj, 88 hs catedra. Cada modulo de 4 hs cátedra, para 80 personas máximo,
			que incluye material, un capacitador y un coordinador</li>
		<li><b>Seminario por modulos individuales:</b> Cada modulo consta de 4 hs cátedra</li>
	</ul>
</div>