<div id="cuerpo">
	<div class="col_8 left p_hor clearfix">
		<h2>Objetivo General</h2>
		<p>Nuclear a empresarios y empresarias PyME, con el propósito de promover su desarrollo y progreso.</p>

		<h2>Objetivos específicos</h2>
		<ul>
			<li>Fomentar el contacto profesional y empresarial entre las/los asociadas/os mediante la creación de una red social especializada
				entre las mismas.</li>
			<li>Crear un entorno único que permita que las distintas empresas, emprendimientos, profesionales y asociados en general,
				puedan centralizar la información sobre servicios y productos que ofrecen promociones, exposiciones, eventos, acciones
				de responsabilidad social empresaria, etc.</li>
			<li>Brindar información actualizada, mediante herramientas estadísticas cuyos datos sirvan para producir indicadores, variables
				y muestras de utilidad para la toma de decisiones.</li>
			<li>Brindar herramientas adecuadas y asesoramiento, para situaciones problemáticas, empresariales, financieras, de capacitación,
				y otras. </li>
		</ul>

		<h2>Nuestra misión</h2>
		<p>Ser organo de consulta, promoción, difusión de actividades de servicios, comercio, industria y otros, que impulsen, y potencien
			las acciones de empresarios, empresarias, emprendedores y profesionales pymes, para su desarrollo y progreso, generando
			igualdad de oportunidades, capacitando, conveniando, proponiendo, con el fin del logro de los objetivos de la asociación.</p>

		<h2>Nuestra visión</h2>
		<p>Establecer en todo el pais, estrategias de formación, y capacitación, herramientas de desarrollo de metodologías de producción
			y consumo sustentable, de impulso de procesos de asociativismo, emprendedorismo, canales de comercialización y cadenas
			de valor y de promoción de proyectos para la igualdad de oportunidades.</p>

		<h2>Nuestros valores</h2>
		<p>ASEMPIO esta integrada por profesionales, empresarios, empresarias, emprendedores, academicos, comerciantes e industriales,
			quienes por su experiencia y liderazgo, son capaces de analizar diferentes opciones de acción, para promover los valores
			eticos que acompañan el desarrollo económico y/o profesional de las PyMEs.</p>
	</div>
	<div class="col_4 pad gris">
		<img class="col_entry m_ver" src="./assets/img/quienes_somos/image007.jpg" />
		<img class="col_entry m_ver" src="./assets/img/quienes_somos/image009.jpg" />
		<img class="col_entry m_ver" src="./assets/img/quienes_somos/image011.jpg" />
		<img class="col_entry m_ver" src="./assets/img/quienes_somos/image013.jpg" />
		<img class="col_entry m_ver" src="./assets/img/quienes_somos/image015.jpg" />
	</div>
</div>