<div id="cuerpo">
	<div class="col_8">
		<h2>Objetivos Particulares</h2>
		<div class="m_ver" id="objetivos_particulares"></div>
		<h3>En particular para el logro de nuestros objetivos realizamos las siguientes acciones:</h3>
		<ul class="enf">
			<li>Dictar cursos, talleres, conferencias, jornadas, en el ámbito nacional e internacional.</li>
			<li>Promover las relaciones y la colaboración académica con universidades e institutos afines, tanto nacionales como extranjeras.</li>
			<li>Promover el intercambio de informaciones, publicaciones, profesores y alumnos con instituciones afines del país y del
				exterior, y firmar convenios de reciprocidad sobre temas que hacen a la función específica de la asociación.</li>
			<li>Editar por si o por terceros, toda clase de obras sobre temas vinculados con su objeto.</li>
			<li>Establecer delegaciones en cualquier lugar del país.</li>
			<li>Promover bibliotecas populares, videotecas, hemerotecas.</li>
			<li>Promover todas las expresiones de la cultura y su difusión.</li>
			<li>Promover acciones para la conservación del patrimonio cultural.</li>
			<li>Promover y difundir acciones para inferir en las políticas públicas.</li>
			<li>Promover y difundir el asociativismo y fomentar cadena de valores.</li>
			<li>Promover y difundir convenios con gobierno y asociaciones, facultades, instituciones públicas y privadas nacionales e
				internacionales con relación al objeto de la asociación.</li>
			<li>Promover metodos de producción sustentable y modelos de consumo sustentable; compensar aquellos acontecimientos que amenazan
				la vida de las personas , como la deforestación, la minería, la contaminación, la agricultura industrial, entre otros
				y la defensa de la flora y fauna autóctona.</li>
			<li>Promover proyectos y/o programas tendientes a impulsar, fortalecer, potenciar el proceso de creación, puesta en marcha
				y/o en funcionamiento de emprendimientos productivos e innovadores que promuevan el emprededorismo como acciones de generación
				de empleos.</li>
			<li>Promover proyectos que apunten a garantizar la protección de los derechos civiles, políticos, económicos, sociales y culturales
				de todas las personas, especialmente de los individuos y grupos más vulnerables, las mujeres, los pueblos originarios
				y las minorías.</li>
			<li>Promover el acceso de las mujeres a la tecnología de las comunicaciones, a la creación de redes de género, a la participación
				política y el liderazgo femenino, y a las osc que impulsan proyectos orientados a erradicar la pobreza, proteger los
				derechos de las minorías sexuales y de las mujeres que forman parte de comunidades religiosas ortodoxas, por la salud
				y la elección reproductiva.</li>
		</ul>
	</div>
</div>